<div class="cont-<%= message.user.id %>">
  <div class="message-box msg-<%= message.user.id %> " >
    <div class="">
      <small>
        <strong class="fs-6"><%= message.user.full_name %></strong>
        <p ><%= message.created_at.localtime.strftime("%a %b %e at %l:%M %p")%></p>
      </small>
    </div>
    <%= message.content %>
  </div>
</div>
