<div class="sidebar" class="col-md-4 col-sm-4">
  <div class="sidebar-container flex-shrink-0 p-2">
    <div class="sidebar-top">
      <h4> Hi <%= @current_user.full_name %> </h4>
      <p> <%= link_to 'Overview', chatrooms_path , class:"nav-link sidebar-link #{'active' if !params[:id].present?}", "aria_current": "page" %>
      </p>
      <h5 class="my-3"> Parents </h5>
      <div id="users">
        <ul class="list-group">
          <% if current_user.admin? %>
            <%= render   "users/user", users: users %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="sidebar-bottom mb-5">
      <% if current_user.admin? %>
        <h5 class="my-3">Group Chat name</h5>
        <%= render  "form", chatroom: chatroom %>
      <% end %>
      <div id="rooms">
        <h5 class="my-3">Yochien channels</h5>
        <ul class="list-group">
          <%= render   "chatrooms", chatrooms: chatrooms %>
        </ul>
      </div>
    </div>
  </div>
</div>
